/* Write your CSS here */

.body-cont {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left {
  background-color: antiquewhite;
  padding: 30px;
  margin-right: 10px;
}

.right {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.right-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.content {
  background-color: aliceblue;
  padding: 30px;
  margin-right: 10px;
}
